html,
body {
  background-color: #eaeaea;
  letter-spacing: 0.5px;
  height: 100vh;
  margin: 0;
  color: #464c5b;
}

* {
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*,
:after,
:before {
  box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:visited {}

article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
